#layouts__nav
  %nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse.projects_nav
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand.projects_nav__logo{:href => "#"} Happy Couple
    #navbarCollapse.collapse.navbar-collapse.my
      %ul.navbar-nav.ml-auto
        %li.nav-item.projects_nav__item.active
          .nav-link.mr-md-3{:href => "#"}
            = link_to 'home', articles_path
        %li.nav-item.mr-md-3
          .nav-link.projects_nav__item{:href => "#"}
            = link_to 'our mission', '#'
        %li.nav-item.mr-md-3
          .nav-link.projects_nav__item{:href => "#"}
            = link_to 'materials', '#'
        %li.nav-item.mr-md-3
          .nav-link.projects_nav__item{:href => "#"} 
            = link_to 'contact us', '#'


.layouts_img
  = image_tag('7.jpg')
  .e2
    .layouts_nav
      .layouts_nav_item1
        happy
      .layouts_nav_item2
        couple
      .line.top
      .line.bottom
      .line.left
      .line.right
/ .welcome_img
/   = image_tag('pic.jpg', class: "cover_img")
